
.gallery {}

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__text {}

.gallery__nav {
    display: flex;
    align-items: center;
    gap: 98px;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    position: relative;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    cursor: pointer;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #E1D9E1;
}

.gallery__prev path,
.gallery__next path {
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
}

.gallery__prev {}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.gallery__next {}

.gallery__slider {}

.gallery__wrapper {}

.gallery__slide {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}