
.program {}

.program__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title {
    margin-bottom: 20px;
}

.program__text {}

.program__tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    width: 100%;
    flex-shrink: 0;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 40px;
    grid-row: 1 / 3;
}

.program__discount-value {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .82;
    color: var(--accent-color);
    transform-origin: 0 0;
    margin: 0 0 7px 13%;

    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price {}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #CEAAD0;
    margin-bottom: 5px;
}

.program__price-value {
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1/-1;
}

.program__img img {
    width: 100%;
}

.tab-conrols {
    display: flex;
    gap: 26px;
}

.tab-conrols__item {}

.tab-conrols__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0.3);
    white-space: nowrap;

    transition: var(--transition);
}

.tab-conrols__link:hover {
    background: #FFE0CB;
}

.tab-conrols__link--active {
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

.accordion-list {}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);

    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__item--opened {}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    text-align: left;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;
    color: var(--accent-text);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-title {}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    text-transform: uppercase;
    line-height: 1.6;
    color: #CEAAD0;
    margin-bottom: 20px;
}

.accordion-content__list {}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #CEAAD0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}
