:root {
    --general-text: #312C27;
    --general-bg: #FFF9F4;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
}


body {
    font-family: "Montserrat", 'Arial', sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
    color: var(--general-text);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15 px;
    height: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 100px;
    font-weight: 500;
    line-height: 1.6;
    padding: 3px 15px;
    height: 62px;
    background: var(--accent-color);

    transition: all .6s;
}

.button:hover {
    background: #ff9138;
}

/*-----------------------------------------------------------*/

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header-top {
    padding-top: 19px;
}

.header-top__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;

    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}


.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #B097B2;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 358px;
    margin-bottom: 40px;
    line-height: 1.5;
}

.hero__button {
    max-width: 358px;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img-control {
    position: absolute;
    line-height: 1.5;
    bottom: 11%;
    left: calc(100% - 39px);
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    background: #ffe0cb;
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    inset: 5px;

    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover:before {
    opacity: 1;
}
