.some-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.some-text2 {
    font-family:'Raleway', sans-serif; ;
    font-size: 17px;
    font-style: normal;
    text-shadow: 0 0 0 #000;
    margin: 5% 0;
    text-decoration: line-through;
}

.some-text3 {
    font-family: 'Courier New', Courier, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 5% 0;
}

.some-text4 {
    color: blueviolet;
    font-size: 23px;
    font-family: 'EB Garamond', serif;
    text-decoration: overline wavy;
    word-spacing: 30px;
}

.some-text5 {
    font-size: 30px;
    font-family: 'Young Serif', serif;
    color: rgb(54, 54, 54);
    letter-spacing: 5px;
    margin: 5% 0;
    text-decoration: double underline;
}